/* @media screen and (max-width: 425px) {
    .container {
      width: 100%;
      overflow: hidden;
    } */

.container {
    /* margin-right:20px; */
    border: 1px solid lightgray;
    border-radius: 5px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    /* height: 20%; */
    margin: 20px;
}

.card-container {
    /* position: relative; */
    width: 70%;
}

.imagePosition {
    align-self: center;
}

.prevCard {
    left: -35%;
    opacity: 0;
}

.activeCard {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.nextCard {
    left: 135%;
    transform: translateX(calc(-100% - 2rem));
    opacity: 0;
}

.imageSize {
    width: 400px;
    height: 250px;
    align-self: center;
    margin:8px;
}

.leftBtn {
    margin-left: 20px;
    font-size: 20px;
    align-self: center;
}

.rightBtn {
    margin-right: 20px;
    align-self: center;
    font-size: 20px;
}


/* @media screen and (max-width: 425px) {
    .container {
      width: 100%;
      overflow: hidden;
    }
  
    .card-container {
      width: 80%;
    }
  
    .prevCard {
      left: -35%;
    }
  
    .nextCard {
      left: 135%;
    }
  } */