.section-container {
    margin: 10px;
    padding: 10px
}

.heading {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin: 10px
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.testimonial {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.cardItem {
    /* margin: 10px; */
    box-shadow: '0 4px 6px rgba(0, 0, 0, 0.1)';
    margin-top:12px;
}

.testimonialImg {
    height: 100px;
    width: 100px ! important;
}

.MuiAvatar-root {
    background-color: transparent;
}