.headingTitle {
    text-align: center;
    font-size: 40px !important;
    background-image: linear-gradient(to right, #20cb45, #f52712);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}
